<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/login-min.css">
</head>
<body>
    <div class="center">
        <div class="header">
            Change Password
        </div>

        <form method="POST" action="/changePassword" onsubmit="return validateForm()">
            <input name="password" id="pswrd" type="password" placeholder="Password" required>
            <input name="password2" id="pswrd2" type="password" placeholder="Re-type Password" required>
            <input type="hidden" name="token" id="token" value="{{user}}">
            <input type="submit" value="Confirm">
            <div id="error-msg" style="color:red; display:none;">Passwords do not match!</div>
            {{#if msg}}
                <div style="color: darkgreen;">{{msg}}</div>
            {{/if}}
        </form>
    </div>

    <script>
        function validateForm() {
            const password = document.getElementById('pswrd').value;
            const password2 = document.getElementById('pswrd2').value;

            if (password !== password2) {
                document.getElementById('error-msg').style.display = 'block';
                return false;
            }
            return true; 
        }
    </script>
</body>
</html>
