<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Login Form</title>
      <link rel="stylesheet" href="/static/login.css">
      <link rel="stylesheet" href="/static/login-min.css">
   </head>
   <body>
      <div class="center">
         <div class="header">
            Login Form
         </div>

         <form method="POST">
         {{#if error}}
         <div style="color: brown;">{{error}}</div>
         {{/if}}         
            <input name="username" type="text" placeholder="Username">
            <input name="password" id="pswrd" type="password" placeholder="Password">
            <i  style="padding:10px;" onclick="show()">&#x1F441;</i>
            <input type="submit" value="Sign in">
            <a href="#">Forgot Password?</a>
         </form>
      </div>
      <script>
         function show(){
          var pswrd = document.getElementById('pswrd');
          var icon = document.querySelector('.fas');
          if (pswrd.type === "password") {
           pswrd.type = "text";
           pswrd.style.marginTop = "20px";
           icon.style.color = "#7f2092";
          }else{
           pswrd.type = "password";
           icon.style.color = "grey";
          }
         }
      </script>
   </body>
</html>